* {
  box-sizing: border-box;
}

:root {
  --app-container: #f3f6fd;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--app-container);
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}
